*.class
*.log
*.o
*~
/.deps
/.libs
/Makefile
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/configure
/depcomp
/install-sh
/jhyphen-*.tar.gz
/jhyphen.lo
/jhyphen_wrap.lo
/libjhyphen.la
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1
Makefile.in
bin
build
dist
java/ch/sbs/jhyphen/swig/*.java
jhyphen_wrap.c
libjhyphen.so
